/*...*/
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
/*....*/
/*...*/

:root {
    --primary: #046056;
}
a:focus, a:hover {
    color: #046056;
}
.btn-primary {
    background-color: #046056;
    border-color: #046056;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #046056;
    border-color: #046056;
}
.btn-outline-primary {
    color: #046056;
    border-color: #046056;
}
.btn-outline-primary:hover {
    background-color: #046056;
    border-color: #046056;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #046056;
}
.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    background-color: #046056;
    border-color: #046056;
}
.btn-link:hover {
    color: #046056;
}
.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #046056;
}
.page-item.active .page-link {
    color: #046056;
}
.page-link:focus, .page-link:hover {
    color: #046056;
}
.badge-primary {
    background-color: #046056;
}
.popover {
    background-color: #046056;
}
.popover.bs-popover-top .arrow::before, .popover.bs-popover-auto[x-placement^="top"] .arrow::before {
    border-top-color: #046056;
}
.popover.bs-popover-top .arrow::after, .popover.bs-popover-auto[x-placement^="top"] .arrow::after {
    border-top-color: #046056;
}
.popover.bs-popover-right .arrow::before, .popover.bs-popover-auto[x-placement^="right"] .arrow::before {
    border-right-color: #046056;
}

.popover.bs-popover-right .arrow::after, .popover.bs-popover-auto[x-placement^="right"] .arrow::after {
    border-right-color: #046056;
}
.popover.bs-popover-bottom .arrow::before, .popover.bs-popover-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #046056;
}
.popover.bs-popover-bottom .arrow::after, .popover.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: #046056;
}
.popover.bs-popover-left .arrow::before, .popover.bs-popover-auto[x-placement^="left"] .arrow::before {
    border-left-color: #046056;
}
.popover.bs-popover-left .arrow::after, .popover.bs-popover-auto[x-placement^="left"] .arrow::after {
    border-left-color: #046056;
}
.bg-primary {
    background-color: #046056 !important;
}
.border-primary {
    border-color: #046056 !important;
}
.text-primary {
    color: #046056 !important;
}
.theme-color {
    color: #046056;
}
.more-link {
    color: #046056;
}
.btn.dropdown-toggle.btn-light [class*='icon'], .btn.dropdown-toggle.btn-light:focus [class*='icon'] {
    color: #046056;
}
.dropdown-info table td:nth-child(2),
.dropdown-form table td:nth-child(2) {
    color: #046056;
}
.dropdown-info table span,
.dropdown-form table span {
    color: #046056;
}
.dropdown-info ul.list-unstyled a {
    color: #046056;
}
.dropdown-menu .close:hover {
    color: #046056;
}
ul.circle-list li:before {
    color: #046056;
}
ul.categories-list li:before  ,.widget_categories  ul li:before{
    color: #046056;
}
ul.marker-list li:before {
    color: #046056;
}
ul.marker-list li span, ul.marker-list li b {
    color: #046056;
}
ul.marker-list-sm li:before {
    color: #046056;
}
ul.icn-list li [class*='icon'] {
    color: #046056;
}
ul.icn-list li b {
    color: #046056;
}
.icn-text .icn-text-circle {
    background-color: #046056;
}
.icn-text-sm .icn-text-circle {
    background-color: #046056;
}
.icn-text-sm span {
    color: #046056;
}
.info-box-color {
    background-color: #046056;
}
.info-grid-label {
    color: #046056;
}
.quote:after {
    background-color: #046056;
}
.tags-list li a:hover ,.tagcloud a:hover{
    background-color: #046056;
    border-color: #046056;
}
.tag-cat-list .post-categories a:hover, .widget_archive li a:hover,
.widget_pages ul li a:hover {
    color: #046056;
}
.form-control:focus {
    border: 1px solid #046056;
    -webkit-box-shadow: 0 0 0 1px #046056;
    box-shadow: 0 0 0 1px #046056;
}
.booking-form-toggle {
    background-color: #046056;
}
.popover-markup.opened .trigger > .form-control {
    -webkit-box-shadow: 0 0 0 2px #046056;
    box-shadow: 0 0 0 2px #046056;
}
.ui-datepicker .ui-datepicker-calendar .start > a {
    background: #046056;
}
.ui-datepicker .ui-datepicker-calendar .end > a {
    background: #046056;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover {
    background: #046056;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    color: #046056;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background-color: #046056 !important;
}
.review-rating > input:checked ~ label, .review-rating:not(:checked) > label:hover, .review-rating:not(:checked) > label:hover ~ label {
    color: #046056;
}
.review-rating > input:checked + label:hover, .review-rating > input:checked ~ label:hover, .review-rating > label:hover ~ input:checked ~ label, .review-rating > input:checked ~ label:hover ~ label {
    color: #046056;
}
.loading-dots.dark-gray i {
    background: #046056;
}
.header-info:hover [class*='icon-'] {
    color: #046056;
}
.header-mobile-slide [class*='icon-'] {
    color: #046056;
}
















@media (max-width: 1023px) {
    .header-toggle-slide.active {
        background-color: #046056;
    }
}
.header-contact span {
    color: #046056;
}
.header-contact [class*='icon-'] {
    color: #046056;
}
.header-nav .navbar-nav .nav-item.active > .nav-link, .header-nav .navbar-nav .nav-item.hovered > .nav-link {
    background-color: #046056;
}
.header-nav .navbar-nav .nav-link:hover, .header-nav .navbar-nav .nav-link[aria-expanded="true"] {
    background-color: #046056;
}
@media (min-width: 1024px) {
    .header .navbar-nav .submenu a:hover {
        color: #046056;
    }
}
.footer-social a:hover {
    color: #046056;
}
.footer ul.icn-list li [class*='icon'] {
    color: #046056;
}
.room-card-info .room-price {
    color: #046056;
}
.room-card-info .room-information {
    color: #046056;
}
.service-card-2-more {
    color: #046056;
}
.special-card-caption-header {
    background: #046056;
}
.special-card-off {
    color: #046056;
}
.special-card-2-caption {
    background-color: #046056;
}
.special-card-2-more {
    color: #046056;
}
.guestbook-review a {
    color: #046056;
}
.guestbook-rating-visual span.fill {
    background: #046056;
}
.guestbook-rating-visual span.half-fill:after {
    background: #046056;
}
.faq-item [data-toggle='collapse']:hover {
    color: #046056;
}
.faq-item [data-toggle='collapse']:after {
    color: #046056;
}
.newsletter-card {
    border-top: 4px solid #046056;
}
.filters-toggle {
    background: #046056;
}
.filters-slide {
    background: #046056;
}
.btn-filter {
    color: #046056;
}
.btn-filter-invert:hover {
    color: #046056;
}
.rating-visual span.fill {
    background: #046056;
}
.rating-visual span.half-fill:after {
    background: #046056;
}
.rating-box .recommendation-value span {
    color: #046056;
}
.star-1 [class*='icon-']:nth-child(-n+1) {
    color: #046056;
}
.star-2 [class*='icon-']:nth-child(-n+2) {
    color: #046056;
}
.star-3 [class*='icon-']:nth-child(-n+3) {
    color: #046056;
}
.star-4 [class*='icon-']:nth-child(-n+4) {
    color: #046056;
}
.star-5 [class*='icon-'] {
    color: #046056 !important; }
.star .review-rating input:checked ~ label {
    color: #046056 !important;
}
.review-box-bot [class*='icon-'] {
    color: #046056;
}
@media (min-width: 1024px) {
    .filters-by-category ul li a:after {
        border-top-color: #046056;
    }
}
.filters-by-category ul li a.selected {
    background-color: #046056;
}
.catalog-widget-inside > a:first-child {
    border-top: 4px solid #046056;
}
.widget-booking-text {
    color: #046056;
}
.slick-prev:hover,
.slick-next:hover {
    background-color: #046056;
}
.slick-dots li.slick-active button,
.slick-dots li.slick-active button:hover {
    background-color: #046056;
}
.blog-post .sticky_post_icon span{
    color: #046056;
}
.blog-post .post-image .post-link:hover {
    color: #046056;
}
.blog-post .post-meta-author a {
    color: #046056;
}
.blog-post .post-meta-social a:hover [class*='icon'] {
    color: #046056;
}
.post-password-form input[type=submit] {
    background: #046056 !important;
    border:2px solid #046056 !important;
}
.post-read-more,
.post-read-more a,
.post-read-more:focus,
.post-read-more:focus a  {
    color: #046056;
}
.blog-post:not(.post-preview) .post-meta-date {
    background-color: #046056;
}
.post-preview .post-meta-date [class*='icon'] {
    color: #046056;
}
.post-preview .post-title a:hover {
    color: #046056;
}
.comments-block .comment .text .meta [class*='icon'] {
    color: #046056;
}
.comments-block .comment .text a.reply:hover {
    color: #046056;
}
.comments-block .comment .text a.reply [class*='icon'] {
    color: #046056;
}
.calendar__header {
    color: #046056;
}
.calendar__header .prev, .calendar__header .next {
    color: #046056;
}
.calendar th {
    background-color: #046056;
}
.calendar .selected:hover:after {
    border: 1px solid #046056;
}
.page-numbers.current {
    color: #046056;
}
.view-room{
    color: #046056;
}
.allquestionbutton button{
    background: #046056 !important;
}
.widget_recent_comments ul li a:hover,
.widget_recent_entries ul li a:hover,
.widget_nav_menu ul li a:hover{
    color: #046056;
}
.category-tag-style ul li a:hover{
    color:#046056;
}
.header .nav-item.current-menu-item >a.nav-link {
    background: #046056 !important;
}
.page-numbers.current,
.page-numbers > span {
    border: 1px solid #046056;
    background-color: #046056;
}
.pagination .nav-links a:hover,.page-numbers a:hover{
    background: #046056 none repeat scroll 0 0;
}
.widget_pages ul li:before, .widget_nav_menu ul li:before {
    color: #046056;
}
.btn-primary:hover {
    background-color: #046056;
    border-color: #046056;
}
.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: #046056;
    border-color: #046056;
}
.backToTop {
    background: #046056;
}
.backToTop:hover {
    background: #046056;
}
.icn-text:hover .icn-text-circle {
    background-color: #046056;
}
.btn-primary.focus, .btn-primary:focus {
    background-color: #046056;
    border-color: #046056;
}

/*...*/

.devvn_booking_wrap:after,.devvn_booking_box:after {
    content: "";
    display: table;
    clear: both;
}
.devvn_booking_row {
    width: 20%;
    float: left;
    padding: 0 10px;
}
.devvn_booking_row {
    position: relative;
}
.devvn_booking_row_date:after {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 22px;
    border: 0;
    content: '\e938';
    font-size: 18px;
    font-family: 'hotelfont';
    color: #c3c3c3;
}
.devvn_booking_wrap input {
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 26px;
    color: #212121;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}
.devvn_booking_row.norS input {
    text-transform: uppercase;
    background-color: #bce2d8;
    border-color: #bce2d8;
}
.devvn_booking_row a.btnModify {
    margin-top: 14px;
    display: inline-block;
    color: white;
}
.devvn-booking-form {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 900;
}
.devvn-booking-form > .container {
    background-color: #046056;
    background-size: cover;
    width: 100%;
    padding: 20px 20px 13px;
}
.section.section-booking {
    display: none !important;
}
@media (max-width: 767px){
    .devvn_booking_row.devvn_booking_row_date {
        width: 50%;
        margin-bottom: 5px;
        padding: 0 2px;
    }
    .devvn_booking_row.promocode {
        width: 100%;
        margin-bottom: 5px;
        padding: 0 2px;
    }
    .devvn_booking_row.norS {
        width: 100%;
        padding: 0 2px;
    }
    .devvn_booking_box .devvn_booking_row:last-child {
        width: 100%;
        text-align: center;
    }
    .devvn-booking-form {
        position: relative;
    }
}


     /* Hide WP Mobile Menu outside the width of trigger */
@media only screen and (min-width:1025px) {

    .mob_menu, .mob_menu_left_panel, .mob_menu_right_panel, .mobmenu {
        display: none!important;
    }

}

/* Our css Custom Options values */
@media only screen and (max-width:1025px) {
    .header {
        display:none !important;
    }

    .mob-menu-left-panel .mobmenu-left-bt, .mob-menu-right-panel .mobmenu-right-bt {
        position: absolute;
        right: 0px;
        top: 10px;
        font-size: 30px;
    }

    .mob-menu-slideout  .mob-cancel-button{
        display: none;
    }

    .mobmenu, .mob-menu-left-panel, .mob-menu-right-panel {
        display: block;
    }

    .mobmenur-container i {
        color: #222;
    }

    .mobmenul-container i {
        color: #222;
    }
    .mobmenul-container img {
        max-height:  80px;
        float: left;
    }
    .mobmenur-container img {
        max-height:  80px;
        float: right;
    }
    #mobmenuleft li a , #mobmenuleft li a:visited {
        color: #222;

    }
    .mobmenu_content h2, .mobmenu_content h3, .show-nav-left .mob-menu-copyright, .show-nav-left .mob-expand-submenu i {
        color: #222;
    }

    .mobmenu_content #mobmenuleft li:hover, .mobmenu_content #mobmenuright li:hover  {
        background-color: #a3d3e8;
    }

    .mobmenu_content #mobmenuright li:hover  {
        background-color: #a3d3e8;
    }

    .mobmenu_content #mobmenuleft .sub-menu {
        background-color: #eff1f1;
        margin: 0;
        color: #222;
        width: 100%;
        position: initial;
    }
    .mob-menu-left-panel .mob-cancel-button {
        color: #000;
    }
    .mob-menu-right-panel .mob-cancel-button {
        color: #000;
    }
    .mob-menu-slideout-over .mobmenu_content {
        padding-top: 40px;
    }

    .mob-menu-left-bg-holder {
        opacity: 1;
        background-attachment: fixed ;
        background-position: center top ;
        -webkit-background-size:  cover;
        -moz-background-size: cover;
        background-size: cover;
    }
    .mob-menu-right-bg-holder {
        opacity: 1;
        background-attachment: fixed ;
        background-position: center top ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size:  cover;
    }

    .mobmenu_content #mobmenuleft .sub-menu a {
        color: #222;
    }

    .mobmenu_content #mobmenuright .sub-menu  a{
        color: #222;
    }
    .mobmenu_content #mobmenuright .sub-menu .sub-menu {
        background-color: inherit;
    }

    .mobmenu_content #mobmenuright .sub-menu  {
        background-color: #eff1f1;
        margin: 0;
        color: #222 ;
        position: initial;
        width: 100%;
    }

    #mobmenuleft li a:hover {
        color: #fff ;

    }

    #mobmenuright li a , #mobmenuright li a:visited, .show-nav-right .mob-menu-copyright, .show-nav-right .mob-expand-submenu i {
        color: #222;
    }

    #mobmenuright li a:hover {
        color: #fff;
    }

    .mobmenul-container {
        top: 25px;
        margin-left: 5px;
    }

    .mobmenur-container {
        top: 5px;
        margin-right: 5px;
    }

    /* 2nd Level Menu Items Padding */
    .mobmenu .sub-menu li a {
        padding-left: 50px;
    }

    /* 3rd Level Menu Items Padding */
    .mobmenu .sub-menu .sub-menu li a {
        padding-left: 75px;
    }


    .mob-menu-logo-holder {
        padding-top: 5px;
        text-align: center;
    ;
    ;
    }

    .mob-menu-header-holder {

        background-color: #fbfbfb;
        height: 80px;
        width: 100%;
        font-weight:bold;
        position:fixed;
        top:0px;
        right: 0px;
        z-index: 99998;
        color:#000;
        display: block;
    }

    .mobmenu-push-wrap, body.mob-menu-slideout-over {
        padding-top: 80px;
    }
    .mob-menu-slideout 	.mob-menu-left-panel {
        background-color:#f9f9f9;;
        width: 270px;
        -webkit-transform: translateX(-270px);
        -moz-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
    }

    .mob-menu-slideout .mob-menu-right-panel {
        background-color:#f9f9f9;		width: 270px;
        -webkit-transform: translateX( 270px );
        -moz-transform: translateX( 270px );
        -ms-transform: translateX( 270px );
        -o-transform: translateX( 270px );
        transform: translateX( 270px );
    }

    /* Will animate the content to the right 275px revealing the hidden nav */
    .mob-menu-slideout.show-nav-left .mobmenu-push-wrap, .mob-menu-slideout.show-nav-left .mob-menu-header-holder {

        -webkit-transform: translate(270px, 0);
        -moz-transform: translate(270px, 0);
        -ms-transform: translate(270px, 0);
        -o-transform: translate(270px, 0);
        transform: translate(270px, 0);
        -webkit-transform: translate3d(270px, 0, 0);
        -moz-transform: translate3d(270px, 0, 0);
        -ms-transform: translate3d(270px, 0, 0);
        -o-transform: translate3d(270px, 0, 0);
        transform: translate3d(270px, 0, 0);
    }

    .mob-menu-slideout.show-nav-right .mobmenu-push-wrap , .mob-menu-slideout.show-nav-right .mob-menu-header-holder {

        -webkit-transform: translate(-270px, 0);
        -moz-transform: translate(-270px, 0);
        -ms-transform: translate(-270px, 0);
        -o-transform: translate(-270px, 0);
        transform: translate(-270px, 0);

        -webkit-transform: translate3d(-270px, 0, 0);
        -moz-transform: translate3d(-270px, 0, 0);
        -ms-transform: translate3d(-270px, 0, 0);
        -o-transform: translate3d(-270px, 0, 0);
        transform: translate3d(-270px, 0, 0);
    }


    /* Mobmenu Slide Over */
    .mobmenu-overlay {
        opacity: 0;
    }

    .mob-menu-slideout-top .mobmenu-overlay, .mob-menu-slideout .mob-menu-right-panel .mob-cancel-button, .mob-menu-slideout .mob-menu-left-panel .mob-cancel-button {
        display: none!important;
    }

    .show-nav-left .mobmenu-overlay, .show-nav-right .mobmenu-overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.83);
        z-index: 99999;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        position: fixed;
        cursor: pointer;
    }

    .mob-menu-slideout-over .mob-menu-left-panel {
        display: block!important;
        background-color:#f9f9f9;;
        width: 270px;
        -webkit-transform: translateX(-270px);
        -moz-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .mob-menu-slideout-over .mob-menu-right-panel {
        display: block!important;
        background-color:#f9f9f9;;
        width:  270px;
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        -ms-transform: translateX(270px);
        -o-transform: translateX(270px);
        transform: translateX(270px);
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .mob-menu-slideout-over.show-nav-left .mob-menu-left-panel {
        display: block!important;
        background-color:#f9f9f9;;
        width:  270px;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .show-nav-right.mob-menu-slideout-over .mob-menu-right-panel {
        display: block!important;
        background-color:#f9f9f9;		width:  270px;
        -webkit-transform: translateX( 0 );
        -moz-transform: translateX( 0 );
        -ms-transform: translateX( 0 );
        -o-transform: translateX(0 );
        transform: translateX( 0 );
    }

    /* Hides everything pushed outside of it */
    .mob-menu-slideout .mob-menu-left-panel, .mob-menu-slideout-over .mob-menu-left-panel  {
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 300000;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 1;
    }


    .mob-menu-slideout .mob-menu-right-panel, .mob-menu-slideout-over .mob-menu-right-panel {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 300000;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 1;

    }

    /*End of Mobmenu Slide Over */

    .mobmenu .headertext {
        color: #222;
    }

    .headertext span {
        position: initial;
        line-height: 80px;
    }


    /* Adds a transition and the resting translate state */
    .mob-menu-slideout .mobmenu-push-wrap, .mob-menu-slideout .mob-menu-header-holder {

        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

    }

    /* Mobile Menu Frontend CSS Style*/
    html, body {
        overflow-x: hidden;
    }

    .hidden-overflow {
        overflow: hidden!important;
    }

    /* Hides everything pushed outside of it */
    .mob-menu-slideout .mob-menu-left-panel {
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 300000;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 1;
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .mob-menu-slideout.show-nav-left .mob-menu-left-panel {
        transition: transform .5s;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    body.admin-bar .mobmenu {
        top: 32px;
    }

    @media screen and ( max-width: 782px ){
        body.admin-bar .mobmenu {
            top: 46px;
        }
    }

    .mob-menu-slideout .mob-menu-right-panel {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 300000;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 1;
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .mob-menu-slideout.show-nav-right .mob-menu-right-panel {
        transition: transform .5s;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .show-nav-left .mobmenu-push-wrap {
        height: 100%;
    }

    /* Will animate the content to the right 275px revealing the hidden nav */
    .mob-menu-slideout.show-nav-left .mobmenu-push-wrap, .show-nav-left .mob-menu-header-holder {
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .show-nav-right .mobmenu-push-wrap {
        height: 100%;
    }

    /* Will animate the content to the right 275px revealing the hidden nav */
    .mob-menu-slideout.show-nav-right .mobmenu-push-wrap , .mob-menu-slideout.show-nav-right .mob-menu-header-holder{
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .widget img {
        max-width: 100%;
    }

    #mobmenuleft, #mobmenuright {
        margin: 0;
        padding: 0;
    }

    #mobmenuleft li > ul {
        display:none;
        left: 15px;
    }

    .mob-expand-submenu {
        position: relative;
        right: 0px;
        float: right;
        margin-top: -50px;
    }

    .mob-expand-submenu i {
        padding: 12px;
    }

    #mobmenuright  li > ul {
        display:none;
        left: 15px;
    }

    .rightmbottom, .rightmtop {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobmenu_content {
        z-index: 1;
        height: 100%;
        overflow: auto;
    }

    .mobmenu_content li a {
        display: block;
        letter-spacing: 1px;
        padding: 10px 20px;
        text-decoration: none;
    }

    .mobmenu_content li {
        list-style: none;
    }
    .mob-menu-left-panel li, .leftmbottom, .leftmtop{
        padding-left: 0%;
        padding-right: 0%;
    }

    .mob-menu-right-panel li, .rightmbottom, .rightmtop{
        padding-left: 0%;
        padding-right: 0%;
    }

    .mob-menu-slideout .mob_menu_left_panel_anim {
        -webkit-transition: all .30s ease-in-out !important;
        transition: all .30s ease-in-out !important;
        transform: translate(0px) !important;
        -ms-transform: translate(0px) !important;
        -webkit-transform: translate(0px) !important;
    }

    .mob-menu-slideout .mob_menu_right_panel_anim {
        -webkit-transition: all .30s ease-in-out !important;
        transition: all .30s ease-in-out !important;
        transform: translate(0px) !important;
        -ms-transform: translate(0px) !important;
        -webkit-transform: translate(0px) !important;
    }

    .mobmenul-container {
        position: absolute;
    }

    .mobmenur-container {
        position: absolute;
        right: 0px;
    }

    .mob-menu-slideout .mob_menu_left_panel {
        width: 230px;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 99999999;
        transform: translate(-230px);
        -ms-transform: translate(-230px);
        -webkit-transform: translate(-230px);
        transition: all .30s ease-in-out !important;
        -webkit-transition: all .30s ease-in-out !important;
        overflow:hidden;
    }

    .leftmbottom h2 {
        font-weight: bold;
        background-color: transparent;
        color: inherit;
    }

    .show-nav-right .mobmenur-container img, .show-nav-left .mobmenul-container img,  .mobmenu .mob-cancel-button, .show-nav-left .mobmenu .mob-menu-icon, .show-nav-right .mobmenu .mob-menu-icon, .mob-menu-slideout-over.show-nav-left .mobmenur-container, .mob-menu-slideout-over.show-nav-right .mobmenul-container  {
        display:none;
    }

    .show-nav-left .mobmenu .mob-cancel-button,  .mobmenu .mob-menu-icon, .show-nav-right .mobmenu .mob-cancel-button {
        display:block;
    }

    .mobmenul-container i {
        line-height: 30px;
        font-size: 30px;
        float: left;
    }
    .left-menu-icon-text {
        float: left;
        line-height: 30px;
        color: #222;
    }

    .right-menu-icon-text {
        float: right;
        line-height: 30px;
        color: #222;
    }

    .mobmenur-container i {
        line-height: 30px;
        font-size: 30px;
        float: right;
    }

    .mobmenu_content .widget {
        padding-bottom: 0px;
        padding: 20px;
    }



    .mob-expand-submenu i {
        padding: 12px;
        top: 10px;
        position: relative;
        font-weight: 600;
        cursor: pointer;
    }



    .mob-menu-left-bg-holder, .mob-menu-right-bg-holder {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -50;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
    }

    .mobmenu_content .sub-menu {
        display: none;
    }

    .mob-standard-logo {
        display: inline-block;
        height:70px!important;	}

    .mob-retina-logo {
        height:70px!important;	}
}
.mobmenu-push-wrap {
    height:100%;
}
.no-menu-assigned {
    font-size: 12px;
    padding-left: 10px;
    margin-top: 20px;
    position: absolute;
}


